* {
	text-align: center;
	font-family: Georgia, Garamond, serif;
}

body {background-color: #99bbff;}

button {font-size: 18px;}
p {font-size: 24px;}
h1 {font-size: 52px; font-weight: bolder;}

#container {
	margin: 0 auto;
	width: 1200px;
}

#description {
	border-radius: 7px;
	border: 5px solid darkblue;
	margin-bottom: 15px;
	background-color: darkblue;
	color: white;
	font-weight: bold;
}

#control, #shadebuttons {
	width: 960px;
	padding-bottom: 10px;
}

#control button {width: 150px;}
#shadebuttons button {width: 195px;}
#grid {width: 960px; padding: 10px 0 0 10px;}
#size {padding-top: 30px;}
#size button {width: 300px;}

div {
	margin: 0 auto;  padding: 0;
}

.box {
	float: left;
	border: 1px solid black;
	background: white;
	display: inline-block;
}

.button {
	background-color: darkblue;
	border: 3px solid white;
	border-radius: 5px;
	color: white;
}

.button:hover {
	background-color: white;
	border: 5px solid darkblue;
	border-radius: 5px;
	color: darkblue;
}
